




<!-- <div class="flex-container">
dtfdgfghfhgf
    <div style="width: 300px; background-color: blue ; height: 300px;">space-around: lines evenly distributed with equal
        space between them
        stretch (default): lines stretch to take up the remaining space <h2>1</h2>
    </div>


    <div style="width: 300px; background-color: red; height: 
    300px;">
       2
</div>
        <div style="width: 300px; background-color: green; height: 300px;">
            space-around: lines evenly distributed with equal space between them
            stretch (default): lines stretch to take up the remaining space<h2>3</h2>
        </div>
        <div style="width: 300px; background-color: indianred; height: 300px;">
            space-around: lines evenly distributed with equal space between them
            stretch (default): lines stretch to take up the remaining space<h2>4</h2>
        </div>
        <div style="width: 80px; background-color: orange; height: 30px;">
        5
            </div>
            <div style="width: 80px; background-color: purple; height: 30px;">
                6
                    </div> -->

<!-- </div> -->


<!-- <div class="flex-container">
    <span style="background:red">A</span>
    <span style="background:rgb(1, 117, 28)">B</span>
    <span style="background:rgb(23, 233, 226)">C</span>
    <span style="background:rgb(144, 36, 156)">D</span>
</div> -->