<nav  class="mobile-footer-menu">
    <ul >
      <li >
        <a  class="ui-link active" routerlinkactive="active" href="#/home">
          <img  class="icon-home" src="assets/footer-logos/home.svg">Home </a>
      </li>
      <li >
        <a  class="ui-link" routerlinkactive="active" href="#/inplay">
          <img  class="icon-inplay" src="assets/footer-logos/timer.svg">In-Play </a>
      </li>
      <li  class="main-nav">
        <a  class="ui-link" routerlinkactive="active" href="#/sports">
          
            <!-- <img  class="sports-top-curve" src="assets/footer-logos/download.svg"> -->
          <img  class="icon-sports" src="assets/footer-logos/trophy.svg">Sports </a>
          

        </li>
      <li >
        <a  class="ui-link" routerlinkactive="active" href="#/multimarket">
          <img  class="icon-pin" src="assets/footer-logos/paper-push-pin.svg">Multi Markets </a>
      </li>
      <li >
        <a  class="ui-link" routerlinkactive="active">
          <img  class="icon-account" src="assets/footer-logos/user.svg">Account </a>
      </li>
    </ul>
    
  </nav>